# Creating a model to predict weather the customer is fraud or not

*Data - Customersdata.json

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data  = pd.read_json('customersdata.json', lines=True)

## unpacking the Customers, orders, transactions and populating them into multiple columns

In [3]:
# Separating customers, orders, transactions

In [4]:
# Unpacking customer data
def unpack(df, column, fillna=None):
    ret = None
    if fillna is None:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems()))], axis=1)
        del ret[column]
    else:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems())).fillna(fillna)], axis=1)
        del ret[column]
    return ret

In [5]:
data.customer[0]

{'customerEmail': 'josephhoward@yahoo.com',
 'customerPhone': '400-108-5415',
 'customerDevice': 'yyeiaxpltf82440jnb3v',
 'customerIPAddress': '8.129.104.40',
 'customerBillingAddress': '5493 Jones Islands\nBrownside, CA 51896'}

In [6]:
type(data.customer[0])

dict

In [7]:
customer_data = unpack(data, 'customer', 0)

In [8]:
customer_data.head(3)

,fraudulent,orders,paymentMethods,transactions,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,False,"[{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...","[{'paymentMethodId': 'wt07xm68b', 'paymentMeth...","[{'transactionId': 'a9lcj51r', 'orderId': 'vjb...",josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,True,"[{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...","[{'paymentMethodId': 'y3xp697jx', 'paymentMeth...","[{'transactionId': '5mi94sfw', 'orderId': 'nlg...",evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,False,"[{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...","[{'paymentMethodId': '8pneoi03z', 'paymentMeth...","[{'transactionId': 'q3lyvbza', 'orderId': 'yk3...",andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"

In [9]:
orders = customer_data[["customerEmail", "orders"]]

In [10]:
methods = customer_data[["customerEmail","paymentMethods"]]

In [11]:
transactions = customer_data[["customerEmail", "transactions"]]

In [12]:
tmp = orders.columns.tolist()

In [13]:
rows = []

In [14]:
orders_func = orders.apply(lambda row: [rows.append([row['customerEmail'], nn]) 
                         for nn in row.orders], axis=1)

In [18]:
orders = pd.DataFrame(rows, columns=tmp).set_index(['customerEmail'])

In [19]:
orders = orders.reset_index()

In [23]:
order_data = unpack(orders, "orders", 0)

In [24]:
orders_data

NameError: name 'orders_data' is not defined

In [18]:
rows = []

In [19]:
methods_func = methods.apply(lambda row: [rows.append([row['customerEmail'], nn]) 
                         for nn in row.paymentMethods], axis=1)

In [20]:
methods = pd.DataFrame(rows, columns=methods.columns).set_index(['customerEmail'])

In [21]:
methods.reset_index(inplace=True)

In [22]:
paymentMethods_data = unpack(methods, "paymentMethods", 0)

In [23]:
paymentMethods_data

,customerEmail,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,josephhoward@yahoo.com,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks
1,evansjeffery@yahoo.com,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks
2,evansjeffery@yahoo.com,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp
3,evansjeffery@yahoo.com,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.
4,evansjeffery@yahoo.com,m52tx8e1s,False,card,Mastercard,Vertex Bancorp
...,...,...,...,...,...,...
337,ethompson@jackson-sanders.com,1tmkeoxbm,False,card,American Express,Bulwark Trust Corp.
338,dawn05@tucker-brown.com,f0xnu5om9,False,card,JCB 16 digit,His Majesty Bank Corp.
339,dawn05@tucker-brown.com,3zmkegkb8,False,paypal,JCB 15 digit,Bastion Banks
340,dawn05@tucker-brown.com,7yen1m1q8,False,card,VISA 13 digit,Vertex Bancorp
341,dawn05@tucker-brown.com,rh7676yct,True,apple pay,VISA 13 digit,Citizens First Banks

In [24]:
rows = []

In [25]:
tran_func = transactions.apply(lambda row: [rows.append([row['customerEmail'], nn]) 
                         for nn in row.transactions], axis=1)

In [26]:
transactions = pd.DataFrame(rows, columns=transactions.columns).set_index(['customerEmail'])

In [27]:
transactions.reset_index(inplace=True)

In [28]:
transactions_data = unpack(transactions, "transactions", 0)

In [29]:
transactions_data

,customerEmail,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed
0,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,18,False
1,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,26,False
2,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,18,False
3,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,26,False
4,evansjeffery@yahoo.com,5mi94sfw,nlghpa,41ug157xz,45,False
...,...,...,...,...,...,...
620,dawn05@tucker-brown.com,7yilsi1o,1bubxa,7yen1m1q8,25,True
621,dawn05@tucker-brown.com,wmh52bns,1bubxa,3zmkegkb8,25,True
622,dawn05@tucker-brown.com,c82k5bcv,1bubxa,7yen1m1q8,25,False
623,dawn05@tucker-brown.com,xdw33hfp,p0gdbf,3zmkegkb8,19,False
624,dawn05@tucker-brown.com,wgmajf82,5lmvrj,f0xnu5om9,27,False

In [30]:
customer_data.columns

Index(['fraudulent', 'orders', 'paymentMethods', 'transactions',
       'customerEmail', 'customerPhone', 'customerDevice', 'customerIPAddress',
       'customerBillingAddress'],
      dtype='object')

In [31]:
customer_data = customer_data[["fraudulent", "customerEmail", "customerPhone", "customerDevice", 'customerIPAddress' ,'customerBillingAddress']]

In [33]:
customer_data.to_csv("customer_data.csv",header=True, index=False)

In [34]:
orders_data.to_csv("orders_data.csv", header=True, index=False)

In [35]:
paymentMethods_data.to_csv('payments_data.csv', header = True, index=False)

In [36]:
transactions_data.to_csv("transaction.csv",header=True, index = False)